* {
    margin: 20px 13%;
}

.winner {
    height: 200px;
    width: 350px;
    background-color: green;
}

.less {
    background-color: blue;
    padding: 100px 20px;
}

.greater {
    height: 200px;
    width: 350px;
    background-color: red;
}

.fail {
    height: 200px;
    width: 350px;
    background-color: rgb(5, 5, 5);
}

.fail h1 {
    color: rgb(255, 0, 200)

}