<html>

<head>
    <title>Friends</title>
</head>

<body>
    <h1>These are all my friends!</h1>
    <table>
        <thead>
            <th>ID</td>
            <th>First Name</td>
            <th>Last Name</td>
            <th>Age</td>
            <th>Friend Since</td>
        </thead>
        <tbody>
            {%for friend in friends:%}
            <tr>
                <td>{{friend['id']}}</td>
                <td>{{friend['first_name']}}</td>
                <td>{{friend['last_name']}}</td>
                <td>{{friend['age']}}</td>
                <td>{{friend['friend_since']}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
    <hr>
    <h2>Add a Friend</h2>
    <form action='/new' method='POST'>
        <label for="first_name">First Name:
            <input type="text" name="first_name" id="first_name">
        </label>
        <label for="last_name">Last Name:
            <input type="text" name="last_name" id="last_name">
        </label>
        <label for="age">Age:
            <input type="text" name="age" id="age">
        </label>
        <input type="submit" value="Add">
    </form>
</body>

</html>