* {
	vertical-align: baseline;
	font-family: Arial, Helvetica, sans-serif;
	font-style: inherit;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;  
}

body {
    width: 970px;
    padding: 20px;
}

a {
    color: #d5b300
}

h1 {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

p {
    text-align: center;
}

#header {
    background-color: #245076;
    border-bottom: 2px solid #1f252a;
}

#logobar {
    padding: 10px;
}

#logo {
    width: 400px;
}

#header-left {
    display: inline-block;
} 

#header-middle {
    display: inline-block;
    width: 250px;
    height: 10px;
} 

#header-right {
    display: inline-block;
    vertical-align: top;
}

#text-size {
    color: white;
    padding: 5px 0px 5px 50px;
}

#search-bar {
    background-color: #444444;
    border-radius: 15px;
    padding: 15px 40px 15px 40px;
    box-shadow: 2px 2px #1f252a;
}

#input {
    height: 30px;
    width: 130px;
    text-align: center;
}

#go-btn {
    padding: 4px 6px;
    color: white;
    background-color: #245076;
    border: 2px outset;
    border-radius: 5px;
    box-shadow: 2px 2px #1f252a;
}

#navbar {
    background-color: #457dad;
    margin: 0px 30px 0px 60px;
    border-radius: 5px;
    box-shadow: 2px 2px #1f252a;
}

.nav-btn {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
}

#header-list {
    display: inline-block;
    margin: 30px 20px 0px 90px;
}

#header-text {
    display: inline-block;
    width: 640px;
    color: white;
    text-align: center;
    vertical-align: top;
    margin: 30px 0px 20px 20px;
}

.header-quote {
    display: inline-block;
    width: 640px;
    color: #d5b300;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    vertical-align: top;
    margin: 10px 0px 0px 0px;
}

.headerLI {
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0px 0px 10px 0px;
}

#content {
    margin: 0px 0px 0px 70px
}

.contentBlock {
    display: inline-block;
    margin: 10px 20px 10px 0px;
    border-top: 4px solid #73a7d5;
    width: 400px;
    vertical-align: top;
}

.text-box {
    width: 300px;
    padding: 0px 0px 0px 20px;
}

.list {
    width: 250px;
    padding: 0px 0px 0px 60px;
    color: #80afd9;
    text-align: center;
}

#footer {
    background-color: #2b6292;
    color: #7aadda; 
    text-align: center;
}

.btns {
    display: inline-block;
    margin: 50px 40px 10px 0px;
    font-size: 20px;
}

#copyright {
    font-size: 10px;
}