<head>
    <title>About Them</title>
</head>


<h2>leanr a little about them.</h2>

<p style="width: 600px;">"I am cog in the machine. A sheep for the wolves. I have no soul and can't remember where or what I sold it for. I hope I got a good deal though. I can't wait for the next iphone to come out and I have to see the new star war/lotr/shit-pumping-brain-busting-hunk-of-trash when it is on big screens. my awesome lifesyle means I spend most of my life doing what someone else tells me to in exchange for scrip i can exchange at the company store for my new iphone and blockbusters. I am excited to work till I die to accomplish ...(whatever)... so I can stack up shit in my domicile that grows so I may accumulate more shit. That's a little bit about me."</p>

<a href="/">homwe  </a>