<html>
    <head>
        <title>Form Test Index</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Welcome to the Random NUmber game</h1>
        <h3>where the game is rigged and you don't matter</h3>
        <div id="resultframe" class={{template}}>
            <div id={{template}}>
                <h1>{{message}}</h1>
            </div>
        </div>
        <h4>I'm thinking of a number from 1 to 100. Take a guess. Good luck sucka</h4>
        <form id="guess" action="/process" method='POST'>
            <input type="int" name="guess" id='textbox'>
            <button id="submit">Submit</button>
        </form>
        <form action="/reset" name="reset" method='POST'>
            <input type="hidden" name="reset" id="reset">
            <button id="reset">Reset</button>
        </form>
    </body>
</html>