<html>

<head>
    <title>My Books</title>
</head>

<body>
    <h1>My Books!</h1>
    <hr>
    <table>
        <thead>
            <th>ID</td>
            <th>Title</td>
            <th>Author</td>
            <th>Date Added</td>
            <th>Actions</td>
        </thead>
        <tbody>
            {%for book in books:%}
            <tr>
                <td>{{book['id']}}</td>
                <td>{{book['title']}}</td>
                <td>{{book['author']}}</td>
                <td>{{book['date_added']}}</td>
                <td>
                    <a href="/delete/{{book['id']}}">delete</a>
                    <a href="/updatePage/{{book['id']}}">update</a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <hr>

    <form action="/add">
        <input type="submit" name="add_book" id="add_book" value="Add a book">
    </form>

</body>

</html>