* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: white;
    padding: 20px;
}

#title-bar {
    background-color: #555555;
    border-radius: 10px;
    min-height: 100px;
    padding: 10px;
}

#dates {
    border:0;
    color:#f6931f;
    font-weight:bold;
    background-color: #555555;
}

#slider-range {
    margin: 10px 0px 0px 10px;
    width: 800px;
    display: inline-block;
    vertical-align: bottom;
}