<html>
    <head>
        <title>Form Test Index</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script>
            function isInt(value) {
                var x = parseFloat(value);
                return !isNaN(value) && (x | 0) === x;
            }
            $(document).ready(function() {
                // $("#logText").html('<p>{{session["log"]}}</p>')
                $("#farmBtn").click(function(){
                    console.log('here')
                })
            })
        </script>
    </head>
    <body>
        <h1>Welcome to LIFE</h1>
        <h3>where the game is rigged and you don't matter</h3>
        <h4>now train for life buy repeating tasks to get money.</h4>
        <h4>as in life you start broke and without a clue</h4>
        <h3>you have {{session['gold']}} gold.</h3>

        <div id="roomFrame">
            <div id="farm" class='room'>
                <h1>Farm</h1>
                <h4>(earns 10-20 monies)</h4>
                <form action="/process_money/farm" method="post">
                    <input type="hidden" name="farm" value="farm" />
                    <input id="farmBtn" type="submit" value="Find Gold!"/>
                </form>
                
            </div>
            <div id="cave" class='room'>
                <h1>Cave</h1>
                <h4>(earns 5-10 monies)</h4>
                <form action="/process_money/cave" method="post">
                    <input type="hidden" name="cave" value="cave" />
                    <input id="caveBtn" type="submit" value="Find Gold!"/>
                </form>
    
            </div>
            <div id="house" class='room'>
                <h1>House</h1>
                <h4>(earns 2-5 monies)</h4>
                <form action="/process_money/house" method="post">
                    <input type="hidden" name="house" value="house" />
                    <input id="houseBtn" type="submit" value="Find Gold!"/>
                </form>
    
            </div>
            <div id="casino" class='room'>
                <h1>Casino</h1>
                <h4>(earns/takes 50 monies)</h4>
                <form action="/process_money/casino" method="post">
                    <input type="hidden" name="casino" value="casino" />
                    <input id="casinoBtn" type="submit" value="Find Gold!"/>
                </form>
    
            </div>
        </div>

        <h3>Activities:</h3>
        <div id="log">
            <div id="logText">
                <p class="logEntry">{{log[0]}}</p>
                <p class="logEntry">{{log[1]}}</p>
                <p class="logEntry">{{log[2]}}</p>
                <p class="logEntry">{{log[3]}}</p>
                <p class="logEntry">{{log[4]}}</p>
                <p class="logEntry">{{log[5]}}</p>
                <p class="logEntry">{{log[6]}}</p>
                <p class="logEntry">{{log[7]}}</p>
                <p class="logEntry">{{log[8]}}</p>
            </div>
            
        </div>
    </body>
</html>