<h1>Edit {{user[0]['first_name']}}'s info</h1>
<hr>
<form action='/update' method='post'>
    <input type="hidden" name="id" value="{{user[0]['id']}}">
    <label for="first_name">First Name:
        <input type="text" name="first_name" id="first_name" value="{{user[0]['first_name']}}">
    </label><br><br>
    <label for="last_name">Last Name:
        <input type="text" name="last_name" id="last_name" value="{{user[0]['last_name']}}">
    </label><br><br>
    {%with errors = get_flashed_messages()%}
        <label for="email">Email:
            <input type="text" name="email" id="email" value="{{user[0]['email']}}"><text style="color:red">{{errors[0]}}</text>
        </label><br><br>
    {%endwith%}
    <input type="submit" value="Update">
</form>
<hr>
<p><a href="/users">Users</a> | <a href="/delete/{{user[0]['id']}}">Delete</a></p>